.OurProductsQuality{
    position: relative;
    height: 50%;
    width: 100%;
    /*background-color:#141414 ;*/
    background: #141e30; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #141e30, #243b55); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #141e30, #243b55); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    min-height: 440px;
}
.pstylying2{
    height: auto;
    text-align: center;
    font-weight: 500;
    color: white;
    font-size: 20px;
    text-transform: capitalize;
}
.h2styuling23{

    text-align: center;
    color: white;
    line-height: 1;
    font-size: 40px;
    font-weight: 700;
}
.chya3mlouDiscrption{
    position: relative;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
}
.card{
    flex-grow: 1;
    max-width: 25%;
    position: relative;
    height: 80%;
    background-color: transparent;

}
.header{
    gap: 15%;
    position: relative;
    width: 100%;
    height: 30%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .h2styuling23{
    margin: 0;
}
.header .pstylying2{
    margin: 0;
}
.pstyling{
    text-align: left;
    line-height: 1;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: white;
}
.h2insideDsicprtion{
    color: white;
    text-align: center;
}
.centringp{
    position: relative;
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.h2Container{
    height: 15%;
    position: relative;
}
.centringp1{
    height: 85%;
    position: relative;
    display: flex;
    flex-direction: column;
}
.ul{
    height: 100%;
    width: 100%;
}
li{
    color: white;
    margin: 0;
}
@media only screen and (min-width:700px) and (max-width:1300px){
    .pstyling{
        text-align: left;
        line-height: 1;
        font-family: sans-serif;
        font-size: 18px;
        font-weight: 400;
        color: white;
    }
    .pstylying2{
        font-size: 15px;
    }
}
@media only screen and (max-width: 700px) {
    .card1fitel{
        height: 300px!important;
    }
    .OurProductsQuality{
        position: relative;
        height: auto;
        width: auto;
        /*212121*/
        background-color:#141414 ;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .header{
        height: 300px;
    }
    .chya3mlouDiscrption{
        height: auto;
        flex-direction: column;
    }
    .card{
        max-width: 100%;
        width: 100%;
        height: 250px;
    }
    .card ul{
        padding-left: 7.0%;
    }
    .pstylying2{
        margin-left: 10px;
        height: auto;
        text-align: center;
        font-weight: 500;
        margin-bottom: 5%;
        color: white;
    }
}

.pp{
    position: absolute;
    right: -7%;
    width: 50%;
    height: 100%;

}