.ourProducts{
    position: relative;
    min-height: 900px;
    height: auto;
    width: 100%;
    z-index: 1;
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: white;
}
.cssulli{
    position: relative;
    width: 100%;
    height: 100%;

}
.galery{
    position: relative;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 25% 20% 30%;
    grid-gap: 30px;

}
.imagemax{
    position: absolute;
    height: 100%;
    width: 100%;
}
.image1{position: relative;box-sizing: border-box;}
.image2{position: relative;box-sizing: border-box;}
.image3{position: relative;box-sizing: border-box;}
.image4{position: relative;box-sizing: border-box;}
.image5{position: relative;box-sizing: border-box;}
.image6{position: relative;box-sizing: border-box;}
.image7{position: relative;box-sizing: border-box;}
.image8{position: relative;box-sizing: border-box;}