.productBody{
    position: relative;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y:scroll;
}
.producContainer{
    z-index: 156;
    left: 50%;
    transform: translate(-50%,0%);
    height: auto;
    width: 80%;
    position: relative;
    overflow: hidden;
    bottom: 7px;
    z-index: 5;
    min-height: 775px;
    
}
.search{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 15px;
    position: relative;
    width: 75%;
    height: 80px;
    background-color: white;
    left: 50%;
    transform: translate(-50%,0%);
    display: flex;
    gap: 20px;
    border-bottom: 1px solid gray;

}
.searchContainer{
    flex-grow: 3;
    position: relative;
}
.searchCss{
    
    width: 20%;
    flex-grow: 1;
}
.itemsContainer{
    position: relative;
    top: 50px;
    height: auto;
    justify-content: center;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 15% 15% 15% 15% 15% ;
    grid-auto-rows: 400px;
    margin-bottom: 30px;
}
@media only screen and (max-width: 1400px) {
    .itemsContainer{
        grid-template-columns: 17% 17% 17% 17% ;
    }
    .producContainer{
        width: 100%;
    }
}
@media only screen and (max-width: 1000px) {
    .itemsContainer{
        
        grid-template-columns: 25% 25% 25%   ;
    }
    .producContainer{
        width: 100%;
    }
}
@media only screen and (max-width: 700px) {
    .itemsContainer{
        grid-template-columns: 80%   ;
        grid-auto-rows: 400px;
    }
}
.buttonadd{
    width: 30px;
    height: 30px;
    border: none;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 20%;
}
.buttonadd > p {
    color: white;
}
/**********************************Header*******************************************/
.HeaderTop{
    position: relative;
    height: 30%;
    width: 100%;
    min-height: 290px;
    display: flex;
   /* background-color: rgba(251, 244, 237);*/
   background-image: url('../home/image/background-1747786_1280.jpg');
   margin-bottom: 15px;

}

.containerHeader{
    flex-grow: 1;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.containerHeader h3{
    color: rgb(77,34,27);
}
.containerHeader > h1 >span{
    font-size: 48px;
    font-family: "PlayfairDisplay-Bold";
    border: 0 solid;
    color: rgb(77,34,27);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-transform: none;
    padding-bottom: 2px;
}
.khat1{
    flex-grow: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.khat2{
    flex-grow: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.khatwe7ed{
    background-color: rgb(77,34,27);
    height: 3px;
    width: 100%;
}
.pppStyle{
    z-index: 1;
    position: absolute;
    right: 0;
    width: 100vw;
    height: 100vh;
    
}
.radiobox{
    display: flex;
    position: relative;
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding-top: 15px;
}
.ecdContainer{
    width: 20%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ecdContainerBottm{
    border-bottom: 3px solid #904E55;
}