
.welcomeleft{
    border-right: 5px solid white;;
    z-index: 50;
    height: 100%;
    width: 50%;
    left: 0;
    position: absolute;
    background-color: black;
    animation-name:topbottom1;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;

}
.welcomeright{
    border-left: 5px solid white;;
    right: 0;
    z-index: 50;
    height: 100%;
    width: 50%;
     position: absolute;
    background-color: black;
    animation-name:topbottom2;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}
@keyframes topbottom1{
    from{width: 50%;}
    to{width: 0%;}
    100%{border:none;}
}
@keyframes topbottom2{
    from{width: 50%;}
    to{width: 0%;}
    100%{border:none;}
}
.homeContainer{
position: relative;
height: 100%;
width: 100%;
z-index: 1;
overflow: scroll;
scroll-behavior: smooth;

transform: translate3d(0, 0, 0);
-webkit-transform: translate3d(0, 0, 0);
overflow-x: hidden;
-webkit-overflow-scrolling: touch;
}
.blackfilter{
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
}

.beginning{
position: relative;
margin-top: 0;
height: 700px;
overflow: hidden;
z-index: 1;
min-height: 600px;
}



.componentsRaper{
top: 0;
position: relative;
height: 100%;
width: 100%;


}
.textContainer{
    z-index: 2;
position: relative;
top: 17%;
left: 20%;
height: 500px;
width: 600px;

}
.beginningP{
font-family: TTFirsNeue, sans-serif;
font-weight: 400;
line-height: 1.7em;
color: #f4f4f4;

}
.beginningH1{
font-size: 3rem;
line-height: 4.41875rem;
color: #fff;
font-family: TTFirsNeue, sans-serif;
font-weight: 400;
font-style: normal;
margin: 0 0 1.414rem;
padding: 0;
text-transform: none;
}
.logoHomeContainer{
position: absolute;
height: 300px;
width: 300px;
right: 13%;
top: 22%;
z-index: 2;
}
.logostyleCompany{
position: relative;
height: 100%;
width: 100%;
z-index: 2;
/****/
}
.voirNosarticle{
position: absolute;
bottom: 5%;
width: 100%;
height: auto;
display: flex;
align-items: center;
justify-content: center;
}
.backgroundphotoUrl{
position: absolute;
height: 100%;
width: 100%;
/*background-image: url('./image/90nGa.jpg');*/
}
.btnhome{
    margin-bottom: 100px;
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
border: none;
font-family: "Archivo Black", Sans-serif;
font-weight: bold;
text-shadow: 0px 0px 10px rgba(0,0,0,0.3);
background-color: #038fcc;
height: auto;
width: 300px;
cursor: pointer;
z-index: 3;
outline:none;
border-radius: 8px;
}
.btnhome:hover{
background-color: #00b2ff;

}
.btnhome:hover p{
background-color: #00b2ff;

}
.btnhome p {
text-align: center;
color: white;
font-size: 25px;
font-family: "Archivo Black", Sans-serif;
font-weight: bold;
text-shadow: 0px 0px 10px rgba(0,0,0,0.3);
background-color: #038fcc;
}
@media only screen and (max-width: 1300px) {
    .textContainer{
            position: relative;
            top: 23%;
            left: 7%;
            height: 500px;
            width: 600px;
            
        }


}


@media only screen and (max-width: 600px) {
    .blackfilter{
        background-image: url('./image/background-1747786_1280.jpg');
    }
    .videoContainer{
        visibility: hidden;
    }
    .videocss{
        position: absolute;
        object-fit: fill;
        height: 100%;
        top: 0;
        left: 0;
    }
    .videoContainer{
        position: absolute;
        height: 100%;
        width: 100%;
    
    }
.btnhome{
    width: 300px;
    height: 50px;
    margin-bottom: 15px;
    }
    .btnhome p {
        margin: 0;
        }
.translatelogocssContainer{
    top: 7vh!important;
}
.homeContainer{
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: scroll;
    scroll-behavior: smooth;
    overflow-x: hidden;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-overflow-scrolling: touch;

}
.beginning{
    position: relative;
    min-height: 400px;
    height: 400px;
    z-index: 1;
    
}
.componentsRaper{
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
}
.textContainer{

    position: relative;
    top: 30%;
    left: 10%;
    height: 500px;
    width: 80%;
    
}
.beginningP{
    display: none;

}
.beginningH1{
    font-size: 30px;
    margin: 0;
    color: white;
    font-family: "Gilroy","Muli","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
.logoHomeContainer{
    position: absolute;
    height: 300px;
    width: 300px;
    right: 13%;
    top: 22%;
    z-index: 2;
}
.logostyleCompany{
    display: none;
}
}
.translatelogocssContainer{
display: flex;
flex-direction: column;
position: absolute;
min-width: 50px;
min-height: 50px;
height: auto;
width: auto;
top: 20vh;
right:  0%;
align-items: flex-end;
justify-content: flex-start;
}
.translatelogocss{
position: relative;
height: 50px;
width: 50px;
}
.changelange{ 
position: relative;
top: 30px;
height: 50px;
width: 50px;
 z-index: 15;

}
.langDisplaying{
position: relative;
height: 100px;
width: 200px;
bottom:  0px;
right: 0;
transform:translate(0,30%);
z-index: 15;
background-color: #141414;


}

.langBlock{
position: relative;
height: auto;
width: auto;
background-color: black;
}
.langDisplaying >ul {
    position: absolute;
    margin-top: 0%;
}
.langDisplaying >ul >li {
    color: white;
    position: relative;
    margin-top: 36%;
}


@media only screen and (max-width: 361px) {
.translatelogocssContainer{
    top: 10vh!important;
}
.beginningH1{

    font-size: 23px;
    margin: 0;
    color: white;
    font-family: "Gilroy","Muli","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
}
.videocss{
    position: absolute;
    object-fit: fill;
    top: 0;
    left: 0;
}
.videoContainer{
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('./image/header.jpg');
    background-repeat:no-repeat;

}