.description{
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 1000px;
  z-index: 1;
  background-color: white;
}
.clipath{
  height: 100%;
  width: 100%;
  position: absolute;
  /*background-image: linear-gradient(47deg,#8c3cee 0%,#2f85f6 60%,#2daef7 100%);*/
  clip-path: polygon(92% 0, 100% 0, 100% 20%, 100% 100%, 80% 100%, 0 100%, 0 91%, 92% 91%);

}
.titleContainer{

  top: 5%;
  text-align: center;
  position: relative;
  margin: 0 auto;
  width: 350px;
  height: 120px;

}
.titleContainer> h2{
  margin: 0;
  font: 1.125em/1.5 "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #3e3b3e;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    /*************lil fou9 kol 5at ay ktiba*****************/
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    line-height: normal;
    font-size: 46px;
}
.outValuesContainer{
  z-index: 0;
  visibility: hidden;
  top: 5%;
  position: relative;
  height: 70%;
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto ;
  align-items: center;
  justify-content: center;
  gap: 10%;
}
.boxValues{
  position: relative;
  width: 450px;
  height: 350px;
  display: flex;
  flex-direction:column;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  
}

.bar{
  width: 8em;
  background-color: #2791D8;
  height: 4px;
  display: block;
  border: 0;
  margin-top: 1px;
}






.spanValues{
  color:#81c4ed ;
}







@media only screen and (max-width: 1300px) {
  .description{
    position: relative;
    height: auto;
    width: 100%;
    z-index: 1;
    background-color: #F0F0F0;
  }
  .outValuesContainer{
    top: 10%;
    position: relative;
    height: 70%;
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto ;
  
    grid-gap: 50px;
    padding-bottom: 30px;

}
.titleContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  top: 5%;
  text-align: center;
  position: relative;
  margin: 0 auto;
  width: 300px;
  height: 120px;

}
}
@media only screen and (max-width: 1000px) {
  .boxValues{
    width: 350px;
    height: 250px;
  }
  .outValuesContainer{
    margin-top: 20%;
  }
}
@media only screen and (max-width: 700px) {
  .outValuesContainer{

    grid-template-columns: auto  ;

  }
  .boxValues{
    width: 100%;
  }
  .slideleftDescription{
    width: 90%;
  }
  .description{
    position: relative;
    height: auto;
   
    width: 100%;
    z-index: 1;
    background-color: #F0F0F0;
  }
  .outValuesContainer{
    position: relative;
    width: 100%;
    display: grid;
    height: auto;
    padding-bottom: 30px;
   
    grid-gap: 50px;
}


.titleContainer{

  top: 5%;
  text-align: center;
  position: relative;
  margin: 0 auto;
  width: 300px;
  height: 120px;

}
}
.slideleftDescription{

  visibility: visible;
  animation-name:slideleft;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
/*
@keyframes slideleft{
from{
  left: 100%;
  width: -0%
}
to{
  width: 80%;
  left:0;
}
}
*/

/***************************backimage**************imagecssbackground**************/
.imagecssbackground{
position:relative;
height: 100%;
width: 100%;
}
.backimage{
  z-index: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}
.filterFlou{
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
 
  background-color: rgba(0,0,0,0.4);
}
.textContainer{
  z-index: 5;
position: relative;
height: 100%;
width: 100%;
display: flex;
flex-direction: column;
}
.h2Containerb{
  display: flex;
  align-items: center;
  justify-content: center;
height: 20%;
}
.h2Containerb h2{
  font-size: 2rem;
  line-height: 4.41875rem;
  color: #fff;
  font-family: TTFirsNeue, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0 0 1.414rem;
  padding: 0;
  text-transform: none;
  margin: 0;
  }
.pcontainerB{
  height: 80%;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.pcontainerB p{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: white;
text-align: center;
font-weight: bold;

}

.imin{
  transform: perspective(1000px) rotateY(-5deg);

}
.isar{
  transform: perspective(1000px) rotateY(5deg);

}